body{
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 10%;
    padding-left: 10%;
}
h1{

    font-size: 50px;
    padding: 5px;
    margin: 0px;
}
.pera{
    font-size: 25px;
    padding-bottom: 30px;
}
section{
    display:flex;
}
.stay{
    width: 50%;
}
#small{
    width: 600px;
    height: 500px;
}
#link{
    background-color: blueviolet;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    color: white;
}
.bor{
    border-left: 10px solid blue;
    border-radius: 5px 5px;
}